.Rproj.user
.Rhistory
.RData
.Ruserdata
.github/pull_request_template.md

# Ignore ALL of docs (it's build output)
docs

# Allow inst/figures on Dev (this is SOURCE, not build output)
# (no restriction on inst/figures here)